<div class="container spacer">
  <div class="panel panel-primary">
    <div class="panel-heading">Register</div>
    <div class="panel-body">
      <form #f="ngForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="email" class="control-label">email</label>
          <input id="email" class="form-control" type="email" [(ngModel)]="model.email" name="email" #email="ngModel" required email=""/>
        </div>
        <div class="form-group">
          <label for="password" class="control-label">password</label>
          <input id="password" class="form-control" type="password" [(ngModel)]="model.password" name="password" #password="ngModel" required/>
        </div>
        <button [disabled]="!f.valid" class="btn btn-primary" type="submit">Signup</button>
        <p></p>
        <p>already have account click <a routerLink="/login" class="clickable">here</a> to login</p>
      </form>
    </div>
  </div>
</div>
